@font-face {
  font-family: 'NCAA';
  src: url('fonts/ncaa_cal_poly_mustangs-webfont.woff2') format('woff2'),
       url('fonts/ncaa_cal_poly_mustangs-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F5EF;
}

.menu{
  background-color: #154734;
  width: 100%;
  position: absolute;
  margin-bottom: 10px;
  z-index: 1;
}

.menu a {
  float: right;
  color: #C9CAC7;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
}

.menu a:hover {
  background-color: #032815;
  color: #F3BF39;
}

.menu h1{
  font-size: 22px;
  color: #F7F8F4;
  float: left;
}

.menu img{
  height: 35px;
  padding: 10px;
  padding-left: 20px;
  float: left;
}

.placeholderImage{
  margin:10px;
  padding:10px;
  width: 45%;
  padding-top: 0px;
  margin-top:0px;
}

.placeholderImage img{
  height: 413px;
  width: 625px;
  padding-top: 150px;
  padding-left: 4.5%;
  padding-bottom: 40px;
}

.title h3{
  font-size: 34px;
  font-family: NCAA;
  font-weight: bold;
  letter-spacing: 0.1em;
  height: 35px;
  color: #413E3E;
}

.title {
  padding-left: 4.5%;
  position: absolute;
  top: 60px;
}

.title2{
  font-size: 34px;
  font-family: NCAA;
  font-weight: bold;
  letter-spacing: 0.1em;
  height: 35px;
  color: #413E3E;
  top: 60px;
  text-align: center;
}

.info{
  position: relative;
  top: 280px;
  height: 455px;
  width:100%;
  background: #154734;
  
}

.info img{
  height: 300px;
  width: 437px;
  padding-left: 40px;
  padding-top: 120px;  
}

.info h1{
  float: left;
  position: absolute;
  top: 29px;
  font-size: 28px;
  padding-left: 84px;
  letter-spacing: 0.1em;
  line-height: 32px;
  font-family: NCAA;
}

.info h2{
  position: absolute;
  font-family: Arial Black;
  font-weight: 900;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: #F7F8F4;
  top: 100px;
  padding-left: 540px;
}

.info h3{
  position: absolute;
  font-family: Arial Unicode MS;
  color: #F7F8F4;
  top: 170px;
  font-size: 17px;
  padding-left: 540px;
  font-weight: normal;
  letter-spacing: 0.1em;
}

#rectangle {
  width:413px;
  height:60px;
  background: #F3BF39;
  position: absolute;
  top: 35px;
  left:35px;
}

.info .instagramIcon {
  width: 60px;
  height: 40px;
}

.login
{
  background-image: url(/login.png);
  opacity: 0.7;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:white;
}

.forms{
  text-align: center;
  padding-top: 100px;
}

.forms h2{
  font-family: Arial Black;
  font-weight: 900;
  font-size: 27px;
  line-height: 60px;
  letter-spacing: 0.1em;
  color: #413E3E;
  text-align:center;
}

.forms label{
  text-decoration: underline;
  font-size: 18px;
}

#greenform1{
  width:40%;
  border:3px solid green;
  padding:30px;
  display:inline-block;
  position: absolute;
  left: 380px;
}

#greenform2{
  width:40%;
  border:3px solid green;
  padding:30px;
  display:inline-block;
  position: absolute;
  left: 380px;
  top:465px;
}

#greenform3{
  width:40%;
  border:3px solid green;
  padding:30px;
  display:inline-block;
  position: absolute;
  left: 380px;
  top:613px;
}

.dropdown {
  padding: 1% ;
  float: right;
  overflow: hidden;
  color:#C9CAC7;
  cursor: default;
}

.dropdown:hover {
  background-color: #032815;
  color: #F3BF39;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  border: none;
  outline: none;
  color:inherit;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Add a grey background color to navbar links on hover */
.menu b:hover{
  color: #413E3E;
  mix-blend-mode: hard-light;

}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  right: 1px;
  margin-top: 1em;
  position: absolute;
  background-color: #F6EED9;
  width:500px ;
  height:400px ;
  z-index: 1;  
}


.dropdown-content a
{
  float: none;
  text-align: left;
  font-family: NCAA;
  font-style: Regular;
  fill: solid;
  color:#413E3E;
  font-size: 16px;
  padding: 12px ;
  letter-spacing: 15%;
  text-decoration: none;
  height: 2px;
  display: block;

}

/*box for events
.eventbox {
  margin-top: 60px;
  right: 154px;
  padding: 4px 3px;
  background-color: #F3BF39;
  width: 329px;
  height: 61px;
  text-align: center;
  position: absolute;
}
.eventbox2 {
  margin-top: 60px;
  right: 83px;
  padding: 4px 3px;
  background-color: #789954;
  width: 71px;
  height: 61px;
  text-align: center;
  position: absolute;
}
.eventbox2 img {
  position: absolute;
  padding-top: 5px;
  right: 12px;
  max-width:56px;
  max-height:50px;
  width: auto;
  height: auto;
}
.event h2{
  margin-top: 0px;
}
.event h1 {
  margin-top: 17px;
  font-style: Regular;
  font-family: NCAA;
  font-size: 26px;
  color:rgba(21,21,20,0.89);
  
  
}*/


/* Create three equal columns that floats next to each other */
.column  {
  float: left;
  width: 29.33%;
  padding: 8px;
  background-color:#F6EED9 ;
  height: 320px;
}

.column b {
  float: none;
  color:#413E3E;
  padding: 1px;
  font-family: NCAA;
  font-style: Regular;
  font-size: 10px;
  fill: solid;
  text-decoration: none;
  display: block;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Links inside the dropdown */
.dropdown-content b {
  float: none;
  font-family: NCAA;
  font-style: Regular;
  fill: solid;
  color:#413E3E;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 15%;
  text-decoration: none;
 
  display: block;
}

.menu h3{
  top: 10px;
  line-height: 0pc;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 22px;
  color:#413E3E;
  font-style: Bold;
  letter-spacing: 10%;
  font-family: Arial;
  vertical-align: top;
}

.menu h4{
  margin-top: -12px;
  margin-left: 10px;
  line-height: 0pc;
  font-size: 23px;
  font-weight: 900;
  color: #F3BF39;
  height: 0;

}

.menu h5{
  padding-left: 15px;
  line-height: 13pt;
  font-size: 23px;
  font-weight: 900;
  color: #154734;
}


/* Add a grey background color to dropdown links on hover
.dropdown-content b:hover {
  background-color: #F6EED9;
  
}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}