body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F5EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu{
  background-color: #154734;
  width: 100%;
  position: absolute;
}

.menu a {
  float: right;
  color: #C9CAC7;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  background-color: #032815;
  color: #F3BF39;
}

.menu h1{
  font-size: 26px;
  color: #F7F8F4;
  float: left;
}

.menu img{
  height: 45px;
  padding: 10px;
  padding-left: 20px;
  float: left;
}

.info{
  position: relative;
  top: 700px;
  height: 30px;
  padding-top: 50%;
  background: #154734;
}

.info h1{
  float: left;
  position: absolute;
  top: 50px;
  padding-left: 110px;
  font-family: NCAA Cal Poly Mustangs;
}

.info h2{
  position: absolute;
  font-family: Arial white;
  color: #F7F8F4;
  top: 150px;
  padding-left: 110px;
}

.info h3{
  position: absolute;
  font-family: Arial white;
  color: #F7F8F4;
  top: 200px;
  padding-left: 110px;
  font-style: normal;
}

#rectangle {
  width:430px;
  height:60px;
  background: #F3BF39;
  position: absolute;
  top: 57px;
  left:60px;
}