
.event {
  font-style: arial;
  text-align: right;
  float: right;
  padding-top: 90px;
  padding-right: 90px;
}

.event h1{
  font-size: 18px;
}

.event h2{
  font-size: 12px;
}
.event h3{
  font-size: 16px;
  color: #3381DC;
  
}